extends ./layout

block content
    #carouselExample4.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100.responsive(src='../images/carousel/foto6.jpeg', alt='First slide', height='570')
          |             
          .carousel-caption.d-none.d-md-block
            button.btn.btn-primary.btnColorR(type='button') REG&Iacute;STRATE
            |               
            button.btn.btn-outline-primary.btnColorIS(type='button') INICIA SESI&Oacute;N
        |           
        .carousel-item
          img.d-block.w-100.responsive(src='../images/carousel/foto3.jpeg', alt='Second slide', height='570')
          |             
          .carousel-caption.d-none.d-md-block
            button.btn.btn-primary.btnColorR(type='button') REG&Iacute;STRATE
            |               
            button.btn.btn-outline-primary.btnColorIS(type='button') INICIA SESI&Oacute;N
        |           
        .carousel-item
          img.d-block.w-100.responsive(src='../images/carousel//foto1.jpg', alt='Third slide', height='570')
          |             
          .carousel-caption.d-none.d-md-block
            button.btn.btn-primary.btnColorR(type='button') REG&Iacute;STRATE
            |               
            button.btn.btn-outline-primary.btnColorIS(type='button') INICIA SESI&Oacute;N