extends layout

block content
  .container  
    h1= title
    form(method='POST' action='/match')
          //- div.form-group
          //-   input#nombre.form-control(type='text', placeholder='nombre' name='nombre')
          //- div.form-group
          //-   input#fechNac.form-control(type='date', placeholder='fecha de nacimiento' name='fechNac')
          //- div.form-group
          //-   input#sexo.form-control(type='text', placeholder='sexo' name='sexo')
          //- div.form-group
          //-   input#carrera.form-control(type='text', placeholder='carrera' name='carrera')
          //- div.form-group
          //-   input#facultad.form-control(type='text', placeholder='facultad' name='facultad')
          //- div.form-group
          //-   input#semestre.form-control(type='text', placeholder='semestre' name='semestre')
          button.btn.btn-primary(type='submit') Encontrar pareja ❤️