extends ./layout

block content
    .divPadding
    |     
    .block-center.divBloqueCard
      .card.marginCard
        .card-body
          h5.card-title(align='center') Formulario de Registro
          |           
          hr
          |           
          h6.card-subtitle.mb-2.text-muted(align='center') &iexcl;Empieza Ya! Registrate para formar parte de Sim&oacute;n Dice
          |           
          hr
          |           
          br
          |           
          form.needs-validation(novalidate='', action='', method='POST', enctype='multipart/form-data')
            input(type='hidden', name='_token', value='{{ csrf_token() }}')
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor.txtColorCard(for='') INFORMACION PERSONAL
                |                 
                hr
                |                 
                input#nom_user.form-control(name='nom_user', type='text', placeholder='Nombre Completo', pattern='^([A-ZÁÉÍÓÚa-zñáéíóúäëïöü]+[\s]*)+$', minlength='2', maxlength='100', required='')
                |                 
                .invalid-feedback
                  | Introduzca el 
                  i Nombre Completo
                  |  entre 2 y 100 letras
              |               
              .col-md-2.mb-3
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-2
                label.txtColor(for='') Fecha de Nacimiento:
                |                 
                input#fecha_user.form-control(name='fecha_user', type='date', placeholder='Fecha de Nacimiento', pattern='(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d')
                |                 
                .invalid-feedback
                  | Introduzca una 
                  i Fecha de Nacimiento
                  |  v&aacute;lido.
              |               
              .col-md-2.mb-3
            |             
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-2.mb-4
                label.txtColor(for='sex_user') Sexo:
              |               
              .form-group.col-md-6.mb-4
                select#sex_user.form-control.custom-select(name='sex_user', required='')
                  option(disabled='', selected='', hidden='')
                  |                   
                  option(value='Femenino') Femenino
                  |                   
                  option(value='Masculino') Masculino
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
            |  
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                input#cor_user.form-control(name='cor_user', type='email', placeholder='Correo Electrónico', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$', required='')
                |                 
                .invalid-feedback
                  | Introduzca una direcci&oacute;n de 
                  i Correo Electr&oacute;nico
                  |  v&aacute;lida
              |               
              .col-md-2.mb-3
            |    
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                input#fac_user.form-control(name='fac_user', type='text', placeholder='Facultad', pattern='^([A-ZÁÉÍÓÚa-zñáéíóúäëïöü]+[\s]*)+$', minlength='5', maxlength='100', required='')
                |                 
                .invalid-feedback
                  | Introduzca la 
                  i Facultad
                  |  entre 5 y 100 letras
              |               
              .col-md-2.mb-3
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                input#car_user.form-control(name='car_user', type='text', placeholder='Carrera', pattern='^([A-ZÁÉÍÓÚa-zñáéíóúäëïöü]+[\s]*)+$', minlength='5', maxlength='100', required='')
                |                 
                .invalid-feedback
                  | Introduzca la 
                  i Carrera
                  |  entre 5 y 100 letras
              |               
              .col-md-2.mb-3
            |             
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-1.mb-4
                label.txtColor(for='num_nivel') N&deg;:
              |               
              .form-group.col-md-2.mb-4
                input#num_nivel.form-control(type='number', name='num_nivel', placeholder='', min='1', max='10', required='')
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
                label.txtColor(for='tipo_nivel') Per&iacute;odo:
              |               
              .form-group.col-md-3.mb-4
                select#tipo_nivel.form-control.custom-select(name='tipo_nivel', required='')
                  option(disabled='', selected='', hidden='')
                  |                   
                  option(value='Semestre') Semestre
                  |                   
                  option(value='Anual') Anual
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
            |  
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor.txtColorCard(for='') PREFERENCIAS:
                |                 
                hr
              |   
              |               
              .col-md-2.mb-3
            |  
            |             
            .form-row
              .col-md-2.mb-4
              |               
              .col-md-2.mb-4
                label.txtColor(for='sex_pref') Sexo:
              |               
              .form-group.col-md-6.mb-4
                select#sex_pref.form-control.custom-select(name='sex_pref', required='')
                  option(disabled='', selected='', hidden='')
                  |                   
                  option(value='Femenino') Femenino
                  |                   
                  option(value='Masculino') Masculino
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4
            |   
            |             
            .form-row
              .col-md-2.mb-3
              |               
              .form-group.col-md-8.mb-3
                label.txtColor(for='') Edad:
              |   
              |               
              .col-md-2.mb-3
            |   
            |             
            .form-row
              .col-md-2.mb-4
              |               
              .form-group.col-md-3.mb-4
                input#edad_ini.form-control(type='number', name='edad_ini', placeholder='', min='18', max='60', required='')
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
              |               
              .col-md-2.mb-4.block-center
                label.txtColor(for='', align='center') a:
              |               
              .form-group.col-md-3.mb-4
                input#edad_fin.form-control(type='number', name='edad_fin', placeholder='', min='18', max='60', required='')
                |                 
                .invalid-feedback
                  | Seleccione una opci&oacute;n
            |  
            |             
            .container-fluid.divBtnPaddingCard
              button.btn.btn-primary.btnColorIS(type='button') Cancelar
              |                 
              button.btn.btn-primary.btnColorR(type='submit') Registrar
    |     
    .divPadding