extends ./layoutUser

block content
    .divPadding
    |     
    .container-fluid(id='')
      .row
        .col-3(id='')
        |         
        .col-6.center-block.divPadding
          h3(align='center') Mis Citas &#x2764;
          |           
          hr
          |         
          each cita, index in dates  
            #accordion  
              .card
                if cita.status1 == 'accept' && cita.status2 == 'accept'
                  #headingOne.card-header(style='background: green')
                    h5.mb-0
                      button.btn.btn-link.btnCita(data-toggle='collapse', data-target='#collapse' + index, aria-expanded='true', aria-controls='collapse' + index) Ver Cita
                else
                  #headingOne.card-header
                    h5.mb-0
                      button.btn.btn-link.btnCita(data-toggle='collapse', data-target='#collapse' + index, aria-expanded='true', aria-controls='collapse' + index) Ver Cita
                |                 
                .collapse.show(aria-labelledby='headingOne', data-parent='#accordion', id='collapse' + index)
                  .card-body
                    form(action='')
                      .row
                        .col-6
                          label.txtColor(for='staticLugar') Lugar: 
                          |                           
                          input#staticLugar.form-control-plaintext(type='text', readonly='', value=cita.place)
                        |                         
                        .col-6
                          label.txtColor(for='staticHora') Hora:
                          |                           
                          input#staticHora.form-control(type='time', value=cita.time.getHours()+':00', disabled='')
                          |                           
                          label.txtColor(for='staticFecha') Fecha:
                          |                           
                          input#staticFecha.form-control(type='date', value=cita.time.toDateString(), disabled='')
                      |                       
                      .container-fluid.divBtnPadding
                        a.btn.btn-primary.btnColorR( href='/accept/'+cita.id) Aceptar
                        |                           
                        button.btn.btn-primary.btnColorR(type='button') Rechazar
                        |                           
                        button.btn.btn-primary.btnColorR(type='button') Modificar
        |         
        .col-3
