extends ../layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='#')
        img.logo(src='/assets/images/user-icon.png', width='', height='60', alt='')
      |   
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |   
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown
            a.h3#navbarDropdown.nav-link.dropdown-toggle.colorFuente(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
<<<<<<< HEAD
              | Peach
=======
              | Mar&iacute;a
>>>>>>> 31b8bb9ceb2fe1c4bd7656c99cb185465634d430
            |         
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Perfil
              |           
              a.dropdown-item(href='#') Ajustes
              |           
              .dropdown-divider
              |           
              a.dropdown-item(href='#') Salir
        |     
        h1.colorFuente.text-white.font-italic Sim&oacute;n Dice
    .jumbotron.content
<<<<<<< HEAD
      h3.display-4#resultadoemp Sigue participando 
=======
      h1.display-4#resultadoemp Sigue participando 
>>>>>>> 31b8bb9ceb2fe1c4bd7656c99cb185465634d430
      |   
      p.lead 
      |    
      hr.my-4
      .container
<<<<<<< HEAD
      h4.text-primary Lo sentimos no pudimos emparejarlo, no existen otros usuarios registrados. &#9785;
=======
      h2.text-primary Lo sentimos no pudimos emparejarlo, no existen otros usuarios registrados. &#9785;
            
        |     
.col-sm
>>>>>>> 31b8bb9ceb2fe1c4bd7656c99cb185465634d430
